<head>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="/static/js/app.js"></script>
</head>

<body>
    <div id="container" class="container">
        <h4>Toodles</h4>
        <label for="todo-search">Filter</label>
        <input name="todo-search" type="text" v-model="todoSearch">
        <ul class="todo-list" v-for="todo in todos" v-if="todo.body.indexOf(todoSearch) !== -1 || (todo.assignee || '').indexOf(todoSearch) !== -1">
            <li class="todo-item">
                <div class="todo-item-assignee">{{ todo.assignee || "None" }}</div>
                <div class="todo-item-body">{{ todo.body }}</div>
            </li>
        </ul>
    </div>
</body>
