<head>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="/static/js/app.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/toodles.css">
</head>

<body>
    <div id="top-div">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="#">
                    Toodles
                </a>
            </div>
        </nav>
        <div class="columns">
            <div class="side-bar column is-one-quarter">
                <label for="todo-search">Filter</label>
                <input class="input" name="todo-search" type="text" v-model="todoSearch">
            </div>
            <div class="main-container container content column is-three-quarters">
                <ul class="todo-list" v-for="todo in todos" v-if="todo.body.indexOf(todoSearch) !== -1 || (todo.assignee || '').indexOf(todoSearch) !== -1">
                    <li class="todo-item">
                        <div class="todo-item-assignee">{{ todo.assignee || "None" }}</div>
                        <div class="todo-item-body">{{ todo.body }}</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
