<head>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="/static/js/app.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/toodles.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <div id="top-div">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="#">
                    Toodles
                </a>
            </div>
            <div class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item delete-todo" v-on:click="deleteSeletedTodos" v-show="Object.values(todoSelected).some(v => v)">
                        <span class="icon">
                            <i class="fa fa-trash"></i>
                        </span>
                        <span>Delete</span>
                    </div>
                    <div class="refresh navbar-item" v-on:click="refresh(true)()">
                        <span class="icon">
                            <i class="fa fa-refresh"></i>
                        </span>
                        <span>Refresh</span>
                    </div>
                </div>
            </div>
        </nav>
        <div class="columns content-container">
            <div class="side-bar column is-one-quarter">
                <label for="todo-search">Filter</label>
                <input placeholder="Search text, assignee, tags" class="input filter-todos" name="todo-search" type="text" v-model="todoSearch">

                <br><br>

                <span>
                    <div class="select">
                        <select v-model="customSortSelected" @change="sortTodos">
                            <option value="">Custom Attribute Sort</option>
                            <option v-for="attrKey in customAttributeKeys">{{ attrKey }}</option>
                        </select>
                    </div>
                    <button class="button" v-show="customSortSelected" v-on:click="sortTodos">
                        <span class="icon">
                            <i class="fa fa-sort"></i>
                        </span>
                    </button>
                </span>
            </div>
            <div class="main-container container content column is-three-quarters">
                <div class="loading-spinner" v-show="loading"><a class="button is-loading">Loading</a> Loading TODO's. If your project is large, this can take a few moments...</div>
                <table class="table todo-list is-striped is-hoverable">
                    <thead>
                        <tr>
                            <td></td>
                            <td v-on:click="sortTodos('priority')" class="sortable priority-column">
                                Priority
                                <span class="icon">
                                    <i class="fa fa-sort"></i>
                                </span>
                            </td>
                            <td>Assignee</td>
                            <td>Body</td>
                            <td>Tags</td>
                        </tr>
                    </thead>
                    <tr class="todo-item" v-for="todo in todos" v-if="todo.body.indexOf(todoSearch) !== -1 || (todo.assignee || '').indexOf(todoSearch) !== -1 || (todo.tags || []).toString().indexOf(todoSearch) !== -1">
                        <td><input type="checkbox" v-model="todoSelected[todo.id]"></td>
                        <td class="todo-item-priority" >
                            <div v-show="todo.priority !== undefined">{{ todo.priority }}</div>
                        </td>
                        <td class="todo-item-assignee">{{ todo.assignee }}</td>
                        <td class='todo-item-body'>
                            <div class="todo-source-link"><a :href="'/source_file/' + todo.id + '#line-' + todo.lineNumber" target="_blank">{{ todo.sourceFile }}:{{ todo.lineNumber}}</a></div>
                            <div>{{ todo.body }}</div>
                        </td>
                        <td class="todo-item-customAttributes">
                            <div v-show="Object.keys(todo.customAttributes).length" class="attribute-block">
                                <span v-for="entry in Object.entries(todo.customAttributes)" class="attribute-item">
                                    {{entry[0]}}: {{entry[1]}}
                                </span>
                            </div>
                            <div class="tag-block" v-show="Object.keys(todo.tags).length">
                                <span v-for="tag in todo.tags" class="tag-item">
                                    {{tag}}
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
