.navbar {
    background-color: #346df0;
    width: 100%;
}

.navbar-item {
    margin-left: 1em;
    color: white;
}

.side-bar {
    padding-left: 2em;
}

.content-container {
    margin-top: 1em;
}

.todo-item-location {
    font-size: .7em;
    color: grey;
}

.filter-todos {
    width: 95%;
}

.loading-spinner {
    line-height: 2em;
}

.loading-spinner a {
    border: none;
}

.navbar-item {
    cursor: pointer;
}

.navbar-item:active {
    color: grey;
}

.priority-number {
    width: 5em;
}

.todo-source-link {
    font-size: .75em;
}

.todo-source-link a:link, .todo-source-link a:visited {
    color: grey !important;
}

.sortable {
    cursor: pointer;
}

.tag-block{
    margin-top: .3em;
}

.tag-item {
    background-color: #E9F1F7;
    margin-right: .2em;
    padding: .1em;
}

.attribute-block{
}

.attribute-item {
    background-color: #D6F6DD;
    margin-right: .2em;
    padding: .1em;
}

.priority-column {
    min-width: 105px;
}
