.navbar {
    background-color: #346df0;
    width: 100%;
}

.navbar-item {
    margin-left: 1em;
    color: white;
}

.side-bar {
    padding-left: 2em;
}

.content-container {
    margin-top: 1em;
}

.main-container {
    padding-right: 2%;
}

.todo-item-location {
    font-size: .7em;
    color: grey;
}

.filter-todos {
    width: 95%;
}

.loading-spinner {
    line-height: 2em;
}

.loading-spinner a {
    border: none;
}

.navbar-item {
    cursor: pointer;
}

.navbar-item:active {
    color: grey;
}

.priority-number {
    width: 5em;
}

.todo-source-link {
    font-size: .75em;
}

.todo-source-link:hover {
    text-decoration: underline;
}

.todo-source-link a:link, .todo-source-link a:visited {
    color: grey !important;
}

.sortable {
    cursor: pointer;
}

.tag-block{
    margin-top: .3em;
}

.tag-column {
    max-width: 200px;
}

.todo-item-customAttributes {
    max-width: 200px;
}

.tag-item {
    background-color: #4F6D7A;
    line-height: 2;
    color: white;
    font-size: .66em;
    margin-right: .2em;
    padding: .3em;
    text-align: center;
}

.todo-item:hover {
    cursor: pointer;
}

.todo-item-body {
    word-wrap: break-word;
}

td, th {
    word-wrap: break-word;
}

.attribute-block{
}

.attribute-item {
    background-color: #D6F6DD;
    margin-right: .2em;
    padding: .3em;
    line-height: 2;
    font-size: .66em;
}

.priority-column {
    min-width: 105px;
}

.modal-content {
    background-color: white;
    min-width: 50%;
    min-height: 20%;
}

.edit-todo-field-input {
    width: 50%;
}
.edit-todo-form{
    padding: 2em;
}

.navbar-burger {
    color: #363636;
}

.is-active .navbar-item {
    color: black;
}

.is-active .navbar-item:hover {
    background-color: #dbdbdb;
}

.toodles-nav-title-text {
    padding-left: 5px;
}

.input-error {
    color: red;
}
