.navbar {
    background-color: #346df0;
    width: 100%;
}

.navbar-item {
    margin-left: 1em;
    color: white;
}

.side-bar {
    padding-left: 2em;
}

.content-container {
    margin-top: 1em;
}

.todo-item-location {
    font-size: .7em;
    color: grey;
}

.filter-todos {
    width: 95%;
}

.loading-spinner {
    line-height: 2em;
}

.loading-spinner a {
    border: none;
}

.refresh {
    cursor: pointer;
}

.refresh:active {
    color: grey;
}

.priority-number {
    width: 5em;
}

.todo-source-link {
    font-size: .75em;
}

.todo-source-link a:link, .todo-source-link a:visited {
    color: grey !important;
}

.sortable {
    cursor: pointer;
}


